#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
h1 {
  color: #16ad73;
  text-align: left;
  margin-bottom: 25px;
  font-size: 30px;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
  background-color: #eee;
}

input {
  flex: 1;
  padding: 12px;
  border: 1px solid  #16ad73;
  border-radius: 5px;
  font-size: 16px;
  background-color: #eef3ec;
  color: black;
}

input:focus {
  outline: none;
  border-color: #16ad73;
}

button {
  background-color: #0f724c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2fe70a;
}

.item-list {
  list-style-position: inside;
  padding: 0;
  margin: 0;
  border: 1px solid #16ad73;
  border-radius: 5px;
  background-color: #f2f1f3;
  color: #0f724c;
  text-align: left;
  line-height: 1px;
}

.item-list li {
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
}

.item-list li:last-child {
  border-bottom: none;
}

.empty-message {
  text-align: center;
  color: #888;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 5px;
  border: 1px solid #1cd36f;
}

body {
  font-family:  sans-serif;
  background-color: #161515;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  background-color: rgb(245, 240, 240);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(236, 234, 234, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 1200px;
}


